body {
    background-color: #ffd3f7;
}

h1 {
    color: #025157;
    text-align: center;
}

p{
    color: #303065;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.header{
    /*  margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px; */
      margin: 40px 20px 0;
      font-size: 0;
  }


  li{
    display: inline;
    margin: 0 20px 0;

    }
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

  



button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
    border-width: 0;
}


.logo{
    width: 15%;
}

.logo > img {
    width: 15%;
}


.navbar{
    width: 70%;
    text-align: left;
    color: #67b54b;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 45px;   
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    color: #67b54b;
    font-weight: 600;
}

.main{
    margin-top: 140px;
    text-align: center;
}